.keyboard {
  display: grid;
  grid-template-columns: repeat(3, 15vmin);
  grid-template-rows: repeat(6, 15vmin);
  padding: 20vmin;
  padding-top: 12.5vmin;
}

.user-input {
  display: flex;
  align-items: center;
  color: black;
  grid-column: span 3;
  font-size: 5vw;
  font-weight: bold;
}

.ok-button {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid white;
  background-color: #2e543d;
  font-size: 5vw;
  /*font-family: 'Courier Prime', Courier, monospace;*/
  font-weight: bold;
  cursor: pointer;
}

.button {
  color: white;
  border: 2px solid white;
  background-color: #3f734d;
  /* other colors */
  /* 3f734d */
  /* 4d845d */
  /* 5e926c */


  display: flex;
  justify-content: center;
  align-items: center;
  /*font-family: 'Courier Prime', Courier, monospace;*/
  font-weight: bold;
  font-size: 5vw;
  cursor: pointer;
}